@font-face {
  font-family: 'ProximaNova-Light';
  src: font-url('ProximaNova-Light.eot');
  src: local('☺'), font-url('ProximaNova-Light.woff') format('woff'), font-url('ProximaNova-Light.ttf') format('truetype'), font-url('ProximaNova-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
